$background-color: #010c15;

$black: #01080e;
$midnight: #011627;
$dark-blue: #011221;

$lynch: #607b96;
$keppel: #3c9d93;
$indigo: #4d5bce;
$white: #ffffff;

$orange: #fea55f;
$turquoise: #43d9ad;
$coral: #e99287;
$pink: #c98bdf;

$grey-blue: #1e2d3d;

$iris: #4d5bce;
$eucalyptus: #43d9ad;
$white: #ffffff;
