@import "./_colors.scss";

:export {
  backgroundColor: $background-color;
  black: $black;
  midnight: $midnight;
  darkBlue: $dark-blue;
  lynch: $lynch;
  keppel: $keppel;
  indigo: $indigo;
  white: $white;
  orange: $orange;
  turquoise: $turquoise;
  coral: $coral;
  pink: $pink;
  greyBlue: $grey-blue;
  iris: $iris;
  eucalyptus: $eucalyptus;
}
